# Data Manipulation with pandas

At the very basic level, Pandas objects can be thought of as enhanced versions of NumPy arrays in which the rows and columns are identified with labels rather than simple integer indices.
Pandas provides useful functionality on top of the basic data structures, but nearly everything that follows will require an understanding of what these structures are.
Let's look at 2 key Pandas data structures: the ``Series`` and ``DataFrame``.

We will start our code sessions with the standard NumPy and Pandas imports:

In [1]:
import numpy as np
import pandas as pd

## The Pandas Series Object

A Pandas ``Series`` is a one-dimensional array of indexed data.
It can be created from a list or array as follows:

In [2]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

As we see in the output, the ``Series`` wraps both a sequence of values and a sequence of indices, which we can access with the ``values`` and ``index`` attributes.
The ``values`` are simply a familiar NumPy array:

In [3]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

The ``index`` is an array-like object of type ``pd.Index``

In [4]:
data.index

RangeIndex(start=0, stop=4, step=1)

Like with a NumPy array, data can be accessed by the associated index via the familiar Python square-bracket notation:

In [5]:
data[1]

0.5

As we will see, though, the Pandas ``Series`` is much more general and flexible than the one-dimensional NumPy array that it emulates.

### ``Series`` as generalized NumPy array

From what we've seen so far, it may look like the ``Series`` object is basically interchangeable with a one-dimensional NumPy array.
The essential difference is the presence of the index: while the Numpy Array has an *implicitly defined* integer index used to access the values, the Pandas ``Series`` has an *explicitly defined* index associated with the values.

This explicit index definition gives the ``Series`` object additional capabilities. For example, the index need not be an integer, but can consist of values of any desired type.
For example, if we wish, we can use strings as an index:

In [6]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

And the item access works as expected:

In [7]:
data['b']

0.5

We can even use non-contiguous or non-sequential indices:

In [8]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=[2, 5, 3,7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [9]:
data[5]

0.5

### Series as specialized dictionary

In this way, you can think of a Pandas ``Series`` a bit like a specialization of a Python dictionary.
A dictionary is a structure that maps arbitrary keys to a set of arbitrary values, and a ``Series`` is a structure which maps typed keys to a set of typed values.
This typing is important: just as the type-specific compiled code behind a NumPy array makes it more efficient than a Python list for certain operations, the type information of a Pandas ``Series`` makes it much more efficient than Python dictionaries for certain operations.

The ``Series``-as-dictionary analogy can be made even more clear by constructing a ``Series`` object directly from a Python dictionary:

In [13]:
population_dict = {'London': 38332521,
                   'Reading': 26448193,
                   'Birmingham': 19651127,
                   'Bath': 19552860,
                   'Southampton': 12882135}
population = pd.Series(population_dict)
#population['Bath'] = 11.4 # you can change value for a certain key
#population["Wolverhampton"] = 30000 # you can add another city
population

London         38332521
Reading        26448193
Birmingham     19651127
Bath           19552860
Southampton    12882135
dtype: int64

By default, a ``Series`` will be created where the index is drawn from the keys.
From here, typical dictionary-style item access can be performed:

In [15]:
population['London']

38332521

Unlike a dictionary, though, the ``Series`` also supports array-style operations such as slicing:

In [17]:
population['Reading':]

Reading        26448193
Birmingham     19651127
Bath           19552860
Southampton    12882135
dtype: int64

### Constructing Series objects

We've already seen a few ways of constructing a Pandas ``Series`` from scratch; all of them are some version of the following:

```python
>>> pd.Series(data, index=index)
```

where ``index`` is an optional argument, and ``data`` can be one of many entities.

For example, ``data`` can be a list or NumPy array, in which case ``index`` defaults to an integer sequence:

In [ ]:
pd.Series([2, 4, 6]) # or you can specify an index as index = ['a','b','c']

0    2
1    4
2    6
dtype: int64

``data`` can be a scalar, which is repeated to fill the specified index:

In [18]:
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

``data`` can be a dictionary, in which ``index`` defaults to the sorted dictionary keys:

In [19]:
k = pd.Series({2:'a', 1:'b', 3:'c'})

In [ ]:
k[3]

'c'

In each case, the index can be explicitly set if a different result is preferred:

In [20]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2])

3    c
2    a
dtype: object

Notice that in this case, the ``Series`` is populated only with the explicitly identified keys.

## The Pandas DataFrame Object

The next fundamental structure in Pandas is the ``DataFrame``.
Like the ``Series`` object discussed in the previous section, the ``DataFrame`` can be thought of either as a <b>generalization of a NumPy array</b>, or as a <b>specialization of a Python dictionary</b>.

### DataFrame as a generalized NumPy array
If a ``Series`` is an analog of a one-dimensional array with flexible indices, a ``DataFrame`` is an analog of a two-dimensional array with both flexible row indices and flexible column names.
Just as you might think of a two-dimensional array as an ordered sequence of aligned one-dimensional columns, you can think of a ``DataFrame`` as a sequence of <b>aligned </b>``Series`` objects.
Here, by "aligned" we mean that <b>they share the same index</b>.

To demonstrate this, let's first construct a new ``Series`` listing the area of five cities

In [21]:
area_dict = {'London': 423967,  'Birmingham': 695662, 
             'Bath': 170312, 'Southampton': 149995}
area = pd.Series(area_dict)
area

London         423967
Birmingham     695662
Bath           170312
Southampton    149995
dtype: int64

Now that we have this along with the ``population`` Series from before, we can use a dictionary to construct a single two-dimensional object containing this information:

In [24]:
cities = pd.DataFrame({'population': population,
                       'area': area})
cities

             population      area
Bath           19552860  170312.0
Birmingham     19651127  695662.0
London         38332521  423967.0
Reading        26448193       NaN
Southampton    12882135  149995.0

Like the ``Series`` object, the ``DataFrame`` has an ``index`` attribute that gives access to the index labels:

In [25]:
cities.index

Index(['Bath', 'Birmingham', 'London', 'Reading', 'Southampton'], dtype='object')

Additionally, the ``DataFrame`` has a ``columns`` attribute, which is an ``Index`` object holding the column labels:

In [27]:
cities.columns

Index(['population', 'area'], dtype='object')

In [28]:
cities.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, Bath to Southampton
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   population  5 non-null      int64
 1   area        4 non-null      float64
dtypes: float64(1), int64(1)
memory usage: 120.0+ bytes

Thus the ``DataFrame`` can be thought of as a generalization of a two-dimensional NumPy array, where both the rows and columns have a generalized index for accessing the data.

### DataFrame as specialized dictionary

Similarly, we can also think of a ``DataFrame`` as a specialization of a dictionary.
Where a dictionary maps a key to a value, a ``DataFrame`` maps a column name to a ``Series`` of column data.
For example, asking for the ``'area'`` attribute returns the ``Series`` object containing the areas we saw earlier:

In [39]:
cities['area']

Bath           170312.0
Birmingham     695662.0
London         423967.0
Reading             NaN
Southampton    149995.0
Name: area, dtype: float64

Notice the potential point of confusion here: in a two-dimesnional NumPy array, ``data[0]`` will return the first *row*. For a ``DataFrame``, ``data['col0']`` will return the first *column*.
Because of this, it is probably better to think about ``DataFrame``s as generalized dictionaries rather than generalized arrays, though both ways of looking at the situation can be useful.

### Constructing DataFrame objects

A Pandas ``DataFrame`` can be constructed in a variety of ways.
Here we'll give several examples.

#### From a single Series object

A ``DataFrame`` is a collection of ``Series`` objects, and a single-column ``DataFrame`` can be constructed from a single ``Series``:

In [40]:
pd.DataFrame(population, columns=['population'])

             population
London         38332521
Reading        26448193
Birmingham     19651127
Bath           19552860
Southampton    12882135

#### From a dictionary of Series objects

As we saw before, a ``DataFrame`` can be constructed from a dictionary of ``Series`` objects as well:

In [41]:
pd.DataFrame({'population': population,
              'area': area})

             population      area
Bath           19552860  170312.0
Birmingham     19651127  695662.0
London         38332521  423967.0
Reading        26448193       NaN
Southampton    12882135  149995.0

#### From a two-dimensional NumPy array

Given a two-dimensional array of data, we can create a ``DataFrame`` with any specified column and index names.
If omitted, an integer index will be used for each:

In [42]:
pd.DataFrame(np.random.rand(3, 2),
             columns=['Obj1', 'Obj2'],index=['a', 'b', 'c'])

       Obj1      Obj2
a  0.469979  0.202770
b  0.671214  0.372766
c  0.334831  0.984115